Options -Indexes

RewriteEngine on

# ErrorDocument 404 /error.php

#normal actions
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^characterDatabase/?$ app/controller/siteController.php?action=database [QSA,L]
RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]
RewriteRule ^dashboard/?$ app/controller/siteController.php?action=dashboard [QSA,L]
RewriteRule ^login/process?$ app/controller/siteController.php?action=loginProcess [QSA,L]
RewriteRule ^logout/?$ app/controller/siteController.php?action=logout [QSA,L]
RewriteRule ^signup/?$ app/controller/siteController.php?action=signup [QSA,L]
RewriteRule ^signup/process?$ app/controller/siteController.php?action=signupProcess [QSA,L]

# member
#RewriteRule ^member/view/(\w+)/?$ app/controller/memberController.php?action=view&id=$1 [QSA,L]
#RewriteRule ^member/?$ app/controller/memberController.php?action=index [QSA,L]
#RewriteRule ^member/add/?$ app/controller/memberController.php?action=add [QSA,L]
#RewriteRule ^member/add/bio/?$ app/controller/memberController.php?action=addBio [QSA,L]
#RewriteRule ^member/update/(\w+)/?$ app/controller/memberController.php?action=update&id=$1 [QSA,L]
#RewriteRule ^member/delete/process/(\w+)/?$ app/controller/memberController.php?action=deleteProcess&id=$1 [QSA,L]
#RewriteRule ^member/delete/(\w+)/?$ app/controller/memberController.php?action=delete&id=$1 [QSA,L]
#RewriteRule ^member/addParable/(\w+)/?$ app/controller/memberController.php?action=addParable&id=$1 [QSA,L]

# camp
RewriteRule ^camps/?$ app/controller/campController.php?action=index [QSA,L]
RewriteRule ^camps/add?$ app/controller/campController.php?action=add [QSA,L]
RewriteRule ^camps/add/process/?$ app/controller/campController.php?action=addProcess [QSA,L]
RewriteRule ^camps/view/(\d+)/?$ app/controller/campController.php?action=view&id=$1 [QSA,L]
RewriteRule ^camps/update/(\d+)/?$ app/controller/campController.php?action=update&id=$1 [QSA,L]
RewriteRule ^camps/delete/(\d+)/?$ app/controller/campController.php?action=delete&id=$1 [QSA,L]
RewriteRule ^camps/delete/process/(\d+)/?$ app/controller/campController.php?actiondeleteProcess&id=$1 [QSA,L]
